body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

div {
    display: flex;
    background: red;
    border: 3px solid black;
    justify-content: center;
}


#scoreBar {
    justify-content: space-between;
}

#score {
    padding-left: 20px;
}

#lives {
    padding-right: 20px;
}

#gameCanvas {
    border: 3px solid #000000;
}

#start {
    height: 180px;
    width: 320px;
    top: 44%;
    left: 43.5%;
    position: absolute;
    font-size: 40px;
    color: black;
    background-color: red;
    border: 10px solid black;
}