/* patch1 */

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8c8c8c;
}

div {
    display: flex;
    background: red;
    border: 6px solid black;
    justify-content: center;
}

#titleBar {
    border-bottom: none;
}

#endScreen{
    display: flex;
    height: 360px;
    width: 760px;
    position: absolute;
    align-self: center;
    font-size: 40px;
    background-color: red;
    border: 6px solid black;
    align-content: center;
    justify-content: center;
}

p {
    align-self: center;
}

#scoreBar {
    border-top: none;
    justify-content: space-between;
}

#score {
    padding-left: 20px;
}

#balls {
    padding-right: 20px;
}

#gameCanvas {
    border: 6px solid #000000;
    background-color: linen;
}

#start {
    height: 180px;
    width: 320px;
    position: absolute;
    align-self: center;
    font-size: 40px;
    background-color: red;
    border: 6px solid black;
}
